body {
    margin: 0;
}

header .top-page {
    background: darkred;
    padding: 100px;
    position: relative;
}

header .top-page img {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main{
    width: 1920px;
    height: 3500px;
}

main .nav-menu{
    width: 100%;
    height: 50px;
}

main .nav-menu nav ul {
    list-style: none;
    width: 1800px;
    height: 50px;
    margin-top: 4px;
}

main .nav-menu nav li {
    position: relative;
    float: left;
    width: 350px;
    height: 100%;
    border: 2px solid darkred;
    border-radius: 20px;
    margin-left: 6px;
    text-align: center;
}

main .nav-menu nav li a {
    display: inline-block;
    /* visual do link */
    color: darkred;
    text-decoration: none;
    margin-top: 16px;
    
}

main .whoweare table {
    width: 70%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .whoweare table article h2 {
    margin: 30px;
    margin-left: 15%;
    width: 40%;
    color: darkred;
    font-size: xx-large;
}

main .whoweare table article p {
    margin: 30px;
    width: 40%;
    text-align: justify;
    color: darkred;
    font-size: x-large;
}

tr .whoweare1 td img {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 50%;
}

tr .whoweare2 td img {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 75%;
}

main .developmentsteps {
    width: 70%;
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .developmentsteps button {
    padding: 10px;
    width: 23%;
    outline: none;
}

main .developmentsteps table {
    width: 100%;
}

main .developmentsteps table tr td {
    color: darkred;
    width: 20px;
    font-size: large;
}

main .developmentsteps table tr td img {
    width: 200px;
    margin-left: 70%;
}

.step {
    display: none;
}

.tab-button {
    text-decoration: none;
    border: 2px solid darkred;
    border-radius: 20px;
    background-color: white;
    color: darkred;
}

main .services {
    width: 70%;
    position: absolute;
    top: 185%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services-table-one {
    width: 380px;
    height: 800px;
    background-color: darkred;
    color: white;
    text-align: center;
}

.services-table-one tr td p {
    text-align: left;
    width: 200px;
    margin-left: 25%;
    font-size: x-large;
}

.services-table-two {
    width: 350px;
    height: 800px;
    margin-left: 30%;
    border-spacing: 0 50px;
}

.services-table-two tr td {
    border: 1px solid darkred;
    text-align: center;
}

.services-table-two tr td p {
    text-align: left;
    font-size: medium;
    color: darkred;
    width: 300px;
    margin-left: 30px;
}

.services-table-two tr td img {
    width: 70px;
}

.services-table-three {
    width: 350px;
    height: 800px;
    margin-left: 45%;
    border-spacing: 0 50px;
}

.services-table-three tr td {
    border: 1px solid darkred;
    text-align: center;
}

.services-table-three tr td p {
    text-align: left;
    font-size: medium;
    color: darkred;
    width: 300px;
    margin-left: 30px;
}

.services-table-three tr td img {
    width: 120px;
}

main .team {
    width: 60%;
    height: 800px;
    position: absolute;
    top: 290%;
    left: 48%;
    transform: translate(-50%, -50%);
    background-color: darkred;
    color: white;
}

main .team table {
    width: 100%;
    height: 100%;
}

.team-icon td {
    text-align: center;
}

.team-icon td img {
    width: 100px;
}

.team-title td {
    text-align: center;
}

main .formulary {
    width: 70%;
    position: absolute;
    top: 390%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: darkred;
}

main .formulary table tr td form {
    margin-left: 75%;
    width: 500px;
    height: 600px;
    border: 1px solid darkred;
    background-color: white;
    text-align: center;
    font-size: large;
}

.formulary-input div input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
}

.formulary-input-textbox {
    height: 200px;
    word-wrap: break-word;
}

.formulary-input-button {
    background-color: darkred;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10%;
}

.formulary-title {
    font-size: x-large;
    width: 500px;
}

footer .contacts {
    background: darkred;
    height: 400px;
    margin-top: 180%;
    color: white;
    font-size: x-large;
}

footer .contacts div {
    padding-top: 20px;
    margin-left: 200px;
}

footer .contacts div table tr td img {
    width: 100px;
}