body {
    margin: 0;
    font-style: italic;
}

/* header */

.top-page {
    background: darkred;
    padding: 100px;
    position: relative;

}

.top-page img {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Tamanho da Seção principal */

main{
    width: 1903px;
    height: 3050px;
    position: absolute;
}

/* posição do corpo principal da pagina que servirá de pai para as seções */


.vertical-direction{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    height: 100%;
}

 /* Menu de navegação */

.nav-menu{
    width: 100%;
    height: 50px;
    font-size: x-large;
}

.nav-menu ul {
    list-style: none;
    width: 1800px;
    height: 50px;
    margin-top: 4px;
}

.nav-menu li {
    position: relative;
    float: left;
    width: 350px;
    height: 100%;
    border: 2px solid darkred;
    border-radius: 20px;
    margin-left: 6px;
    text-align: center;
}

.nav-menu li a {
    display: inline-block;
    /* visual do link */
    color: darkred;
    text-decoration: none;
    margin-top: 12px;
    
}

 /* Seção Quem Somos? */

.whoweare {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.whoweare article{
    width: 45%;
    padding-left: 50px;
    padding-top: 100px;
}

.whoweare article h2 {
    color: darkred;
    font-size: xx-large;
}

.whoweare article p {
    text-align: justify;
    color: darkred;
    font-size: x-large;
}

.whoweare-figure{
    margin-left:50px;
}

.whoweare-figure img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.figure-1{
    margin-bottom: 100px;
}

.figure-2{
    margin-left: 50px;
}

/* Etapas de Desenvolvimento */

.developmentsteps {
    margin-top: 150px;
}

.developmentsteps h1{
    color: darkred;
    text-align: center;
    padding-bottom: 20px;
    font-size: xx-large;
}

.developmentsteps button {
    padding: 10px;
    width: 330px;
    outline: none;
}

.step {
    display: none;
}

.step div{
    display: flex;
    flex-direction: row;
    color: darkred;
    font-size: x-large;
}

.step figure img{
    width: 200px;
}

.tab-button {
    text-decoration: none;
    border: 2px solid darkred;
    border-radius: 20px;
    background-color: white;
    color: darkred;
    font-style: italic;
    font-size: large;
}

/* Seção Serviços */

.services{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
}

.services-left{
    width: 70%;
    height: 700px;
    background-color: darkred;
    color: white;
    font-size: x-large;
}

.services-left article{
    padding: 20px;
}

.services-center{
    margin-left: 100px;
    width: 70%;
    height: 700px;
    background-color: white;
    color: darkred;
    font-size: x-large;
}

.services-center figure{
    padding: 50px;
}

.services-center img{
    width: 100px;
    margin-left: 35px;
}

.services-right{
    margin-left: 100px;
    width: 70%;
    height: 700px;
    background-color: white;
    color: darkred;
    font-size: x-large;
}


.services-right figure{
    padding: 50px;
    margin-left: 70px;
    margin-top: -25px;
}

.services-right img{
    width: 150px;
}

.services-js{
    margin-top: 60px;
}

/* Seção Equipe */

.team {
    background-color: darkred;
    color: white;
    margin-top: 250px;
    padding-top: 50px;
    height: 800px;
    text-align: center;
    font-size: large;
}


.team-top{
    display: flex;
    flex-direction: row;
    padding-left: 60px;
}

.team-top article{
    padding: 50px;
    width: 300px;
}

.team-top img{
    width: 100px;
}

.team-bottom{
    display: flex;
    flex-direction: row;
    padding-left: 60px;
}

.team-bottom article{
    padding: 50px;
    width: 300px;
}

.team-bottom img{
    width: 100px;
}

/* Seção Formulario */

.formulary {
    display: flex;
    flex-direction: row;
    color: darkred;
    margin-top: 100px;
}

.formulary article{
    margin-top: 250px;
    width: 500px;
    font-size: x-large;
}

.formulary-input{
    text-align: center;
    font-size: x-large;
    border: 1px solid darkred;
    background-color: white;
    padding: 20px;
    width: 450px;
    margin-left: 350px;
    margin-top: 100px;
    
}

.formulary-input input{
    width: 350px;
    padding: 20px;
    margin-top: 25px;
    outline: none;
    border: 1px solid darkred;
}

.formulary-input-textbox{
    width: 350px;
    padding: 20px;
    margin-top: 25px;
    height: 100px;
    outline: none;
    border: 1px solid darkred;
}

.formulary-input-button{
    background-color: darkred;
    border: 1px solid darkred;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:30px;
}

/* Rodapé */

footer{
    margin-top: 3600px;
    width: 100%;
    background-color: darkred;
}

footer .contacts {
    color: white;
    font-size: x-large;
    padding: 50px;
}

.contacts ul {
    margin-left: 200px;
    list-style: none;
}

.contacts figure {
   display: flex;
   flex-direction: row;
   margin-left: 230px;
}

.contacts figure img{
    width: 50px;
    padding: 5px;
}