body {
    margin: 0;
    font-style: italic;
}

.top-page {
    background: darkred;
    padding: 100px;
    position: relative;

}

.top-page img {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main{
    width: 1903px;
    height: 3050px;
    position: absolute;
}

.vertical-direction{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    height: 100%;
}

.nav-menu{
    width: 100%;
    height: 50px;
}

.nav-menu nav ul {
    list-style: none;
    width: 1800px;
    height: 50px;
    margin-top: 4px;
}

.nav-menu nav li {
    position: relative;
    float: left;
    width: 350px;
    height: 100%;
    border: 2px solid darkred;
    border-radius: 20px;
    margin-left: 6px;
    text-align: center;
}

.nav-menu nav li a {
    display: inline-block;
    /* visual do link */
    color: darkred;
    text-decoration: none;
    margin-top: 16px;
    
}

.whoweare table {
    width: 100%;
    height: 500px;
    padding-left: 95px;
    margin-top: 20px;
}

.whoweare table tr td{
    width: 50%;
}

.whoweare table article h2 {
    color: darkred;
    font-size: xx-large;
}

.whoweare table article p {
    text-align: justify;
    color: darkred;
    font-size: x-large;
}

.whoweare1 td img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.whoweare2 td img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 30%;
}

.developmentsteps {
    margin-top: 100px;
}

.developmentsteps button {
    padding: 10px;
    width: 330px;
    outline: none;
}

.developmentsteps table {
    width: 100%;
}

.developmentsteps table tr td {
    color: darkred;
    width: 20px;
    font-size: large;
}

.developmentsteps table tr td img {
    width: 200px;
    margin-left: 80%;
}

.step {
    display: none;
}

.tab-button {
    text-decoration: none;
    border: 2px solid darkred;
    border-radius: 20px;
    background-color: white;
    color: darkred;
    font-style: italic;
}

.services {
    margin-top: 100px;
    height: 750px;
    text-align: center;
}

.services td{
    padding: 40px;
}

.services-table-one table{
    border-spacing: 0px;
}

.services-table-one tr td {
    background-color: darkred;
    color: white;
    text-align: center;
}

.services-table-one tr td p {
    text-align: left;
    font-size: x-large;
}

.services-table-two tr td p {
    text-align: justify;
    font-size: medium;
    color: darkred;
}

.services-table-two tr td img {
    width: 80px;
}

.services-table-three tr td p {
    text-align: justify;
    font-size: medium;
    color: darkred;
}

.services-table-three tr td img {
    width:100px;
}

.team {
    background-color: darkred;
    color: white;
    margin-top: 180px;
    height: 600px;
}

.team table {
    width: 100%;
    height: 600px;
}

.team-icon td {
    text-align: center;
}

.team-icon td img {
    width: 100px;
}

.team-title td {
    text-align: center;
}

.formulary {
    color: darkred;
}

.formulary table tr td form {
    margin-top: 200px;
    margin-left: 500px;
    width: 500px;
    height: 600px;
    border: 1px solid darkred;
    text-align: center;
    font-size: large;
    background-color: white;
}

.formulary-input div input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
    border: 1px solid darkred;
}

.formulary-input-textbox {
    height: 200px;
    word-wrap: break-word;
}

.formulary-input-button {
    background-color: darkred;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10%;
}

.formulary-title {
    font-size: x-large;
    width: 500px;
}

footer{
    margin-top: 3150px;
    width: 100%;
    background-color: darkred;
}

footer .contacts {
    color: white;
    font-size: x-large;
}

.contacts div {
    padding-top: 20px;
    margin-left: 200px;
}

.contacts div table tr td img {
    width: 50px;
    margin-bottom: 50px;
}